:root {
    --color-bg: #B1C1C0;
    --color-text: #577547;
    --font-footer: 0.8em;
    --font-title: 1.2em;
    --font-title-large: 1.6em;
    --font-description: 1.0em;

    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
    font-family: "Playfair Display", serif;
    text-align: -webkit-center;
    text-align: -moz-center;
    justify-content: center;
}

.bg-wrapper {
    max-width: 1200px;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    column-gap: 20px;
}

.titulo {
    display: flex;
    justify-content: center;
    color: var(--color-text);
    font-size: var(--font-title-large);
    font-weight: bold;
}

.galeria-container {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
}